@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);
@font-face {
	font-weight: normal;
	font-style: normal;
	font-family: 'codropsicons';
	src:url('../fonts/codropsicons/codropsicons.eot');
	src:url('../fonts/codropsicons/codropsicons.eot?#iefix') format('embedded-opentype'),
		url('../fonts/codropsicons/codropsicons.woff') format('woff'),
		url('../fonts/codropsicons/codropsicons.ttf') format('truetype'),
		url('../fonts/codropsicons/codropsicons.svg#codropsicons') format('svg');
}

*, *:after, *:before { -webkit-box-sizing: border-box; box-sizing: border-box; }
.clearfix:before, .clearfix:after { content: ''; display: table; }
.clearfix:after { clear: both; }

body {
	background: #fff; 
	color: #000;
	font-weight: 300;
	font-size: 1em;
	font-family: 'Lato', sans-serif;
}

a {
	color: #000;
	text-decoration: none;
	outline: none;
}

a:hover, a:focus {
	color: #444;
	outline: none;
}

button:focus {
	outline: none;
}

section {
	padding: 1em;
	text-align: center;
}

.header {
	margin: 0 auto;
	padding: 6.5em 0em;
	text-align: center;
}

.header h1 {
	margin: 0 auto;
	font-weight: 800;
	text-transform: uppercase;
	font-size: 4em;
	line-height: 1;
}

.header h1 span {
	display: block;
	font-size: 36%;
	font-weight: 400;
	padding-top: 0.5em;
}

ol {
	text-align: left;
	padding-left: 5%;
}

ul {
	text-align: left;
	padding-left: 10%;
}

p {
	font-size: 1.25em;
	text-align: left;
}

p span {
	text-transform: uppercase;
	font-style: italic;
}

.about {
	margin-top: 2em;
	padding-left: 27%;
	padding-right: 27%;
	padding-bottom: 20%;
}

.about p {
	font-size: 1.5em;
	text-align: center;
}

.featured {
	margin-top: 0em;
	margin-bottom: 0em;
	padding-left: 27%;
	padding-right: 27%;
}

.section {
	min-height: 100vh;
	margin-top: 5em;
	padding-left: 27%;
	padding-right: 27%;
	padding-left: 15%;
	padding-right: 15%;
}

.section h1 {
    text-align: left;
    font-size: 2em;
    font-weight: 400;
    text-transform: uppercase;
}

.section h3 {
	text-transform: uppercase;
	text-align: left;
}

.related {
	margin-top: 5em;
	padding-left: 15%;
	padding-right: 15%;
}

.related p {
	font-size: 1.25em;
	font-weight: 300;
	text-align: left;
}

.related p span {
	text-transform: uppercase;
	font-style: italic;
}

.related > a {
	display: inline-block;
	text-align: center;
	margin: 20px 10px;
	padding: 25px;
	border-radius: 35px/200px;
	background: #fff;
	max-width: 100%;
}

.related a img {
	max-width: 100%;
	opacity: 0.8;
	border-radius: 20px/100px;
}

.related a:hover img,
.related a:active img {
	opacity: 1;
}

.related a h3 {
	margin: 0;
	padding: 0.5em 0.75em 0.3em;
	max-width: 300px;
	text-align: left;
}

.footer {
	font-size: .75em;
	color: #bbb;
	padding-top: 2em;
	padding-left: 2em;
	text-align: left;
}

body #cdawrap {
	top: auto;
	bottom: 35px;
	right: 35px;
	background: #b4bad2;
	border: 1px solid rgba(131,135,151,0.6);
}

.demo-wave body #cdawrap {
	top: 35px;
	right: 35px;
	bottom: auto;
}

.re span {
	display: inline-block;
	text-align: left;
	vertical-align: top;
	padding-left: 5%;
	font-size: 1.75em;
	color: #777;
	width: 50%;
}

.re {
	padding-top: 2em;
	clear: both;
	padding-bottom: 2em;
	min-height: 100vh;
}

.re p {
	font-size: 1em;
}

.re > a {
	display: inline-block;
	text-align: left;
	text-transform: uppercase;
	color: #999;
	font-weight: bolder;
	width: 15%;
}

.re a:hover {
	opacity: 1;
}

.re a img {
	max-width: 100%;
	opacity: 1;
}

.re a:hover img,
.re a:active img {
	opacity: .5;
}

.re a h3 {
	margin: 0;
	padding: 0.5em 0 0.3em;
	max-width: 300px;
	text-align: left;
}


@media screen and (max-width: 70em) {
	.about {
		padding-left: 20%;
		padding-right: 20%;
	}

	.featured {
		padding-left: 15%;
		padding-right: 15%;
	}

	.re span {
		width: 30%;
		font-size: 1.15em;
	}

	.re a {
		width: 20%;
	}
}

@media screen and (max-width: 60em) {
	.re > a {
		width: 40%;
	}
	.re {
		padding-top: 0;
	}

@media screen and (max-width: 45em) {
	body {
		font-size: 80%;
	}
	.related > a {
		margin: 20px 0;
	}

	.about {
		padding-left: 15%;
		padding-right: 15%;
	}

	.featured {
		padding-left: 15%;
		padding-right: 15%;
	}

	.related {
		padding-left: 15%;
		padding-right: 15%;
	}

	.re a {
		width: 65%;
	}

	.re span {
		width: 65%;
		margin-top: 1em;
		font-size: 1.75em;
		text-align: center;
		padding-left: 0;
	}
}

@media screen and (max-width: 30em) {

	.header h1 {
		font-size: 3em;
	}

}