@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700);
@font-face {
	font-weight: normal;
	font-style: normal;
	font-family: 'codropsicons';
	src:url('../fonts/codropsicons/codropsicons.eot');
	src:url('../fonts/codropsicons/codropsicons.eot?#iefix') format('embedded-opentype'),
		url('../fonts/codropsicons/codropsicons.woff') format('woff'),
		url('../fonts/codropsicons/codropsicons.ttf') format('truetype'),
		url('../fonts/codropsicons/codropsicons.svg#codropsicons') format('svg');
}

*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.clearfix:before, .clearfix:after { content: ''; display: table; }
.clearfix:after { clear: both; }

html, body, section, .container, .codrops-header {
	height: 100%;
}

body {
	background: rgb(254,250,240,.4);
	color: rgb(0,0,0,.75);
	font-size: 100%;
	line-height: 1.25;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
}

a {
	color: rgb(0,0,0,.9);
	text-decoration: none;
	outline: none;
}

a:hover, a:focus {
	color: rgb(0,0,0,.9);
}

.header {
	margin: 0 auto;
	padding: 1em;
	padding-right: 20%;
	padding-left: 20%;
	text-align: center;
	position: relative;
	background: #fefaf0;
	height: calc(100% - 35px);
	min-height: 450px;
}

.title {
	height: 75%;
}

.title h1 {
	margin: 0;
	font-size: 5em;
	font-weight: 600;
	color: rgb(0,0,0,.85);
	position: relative;
	text-transform: uppercase;
	top: 50%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}

.title h1 span {
	display: block;
	font-size: 0.4em;
	font-weight: 300;
	color: rgb(0,0,0,.85);
}

.toc {
	height: 25%;
	font-size: .75em;
	font-weight: 400;
}

.toc span {
	color: rgb(0,0,0,.85);
	letter-spacing: 1px;
	text-transform: capitalize;
	position: relative;
	display: inline-block;
	width: max-content;
}

.top {
	background: #fefaf0;
	text-transform: uppercase;
	font-weight: 700;
	font-style: normal;
	font-size: 0.69em;
	line-height: 3.5;
	padding-left: 2em;
	padding-right: 2em;
}

.top a {
	color: rgb(0,0,0,.65);
	display: inline-block;
	padding: 0 10px;
	text-decoration: none;
	letter-spacing: 1px;
}

.top span.right {
	float: right;
}

.top span.right a {
	display: block;
	float: left;
}

.icon:before {
	margin: 0 4px;
	text-transform: none;
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
	font-family: 'codropsicons';
	line-height: 1;
	speak: none;
	-webkit-font-smoothing: antialiased;
}

.icon-prev:before {
	content: "\e004";
}

section {
	padding-top: 1em;
	text-align: left;
	position: relative;
	display: inline-block;
	padding-left: 20%;
	padding-right: 20%;
	padding-bottom: auto;
}

section h2 {
	font-weight: 500;
	font-size: 1.75em;
}

section h2 span {
	display: block;
	padding-top: .5em;
	font-size: .6em;
}
section h2 span.description {
	display: block;
	font-style: italic;
	font-size: .45em;
}

.related span {
	display: block;
	text-align: left;
	vertical-align: top;
	padding-right: 5%;
	font-size: 1.25em;
	color: #777;
	width: 100%;
}

.related {
	clear: both;
	height: auto;
	padding-bottom: 2em;
}

.related p {
	font-size: 1em;
}

.related > a {
	display: inline-block;
	text-align: left;
	text-transform: uppercase;
	color: #777;
	font-weight: bolder;
	width: 30%;
	max-height: 100px;
}

.related a:hover {
	opacity: 1;
}

.related a img {
	max-width: 100%;
	opacity: 1;
}

.related a:hover img,
.related a:active img {
	opacity: .5;
}

.related a h3 {
	margin: 0;
	padding: 0.5em 0 0.3em;
	max-width: 300px;
	text-align: left;
}

.about {
	height: auto;
	font-size: 1.25em;
	padding-bottom: 1em;
}

p strong {
	font-variant: small-caps;
	text-transform: uppercase;
}

@media screen and (max-width: 70em) {
	.related span {
		font-size: 1em;
	}
}

@media screen and (max-width: 35em) {
	.header { font-size: 75%; }
	.icon span {
		display: none;
	}

	section {
		padding: 1em;
		padding-bottom: 5em;
	}

	.header {
		padding: 1em;
	}

	.toc {
		font-size: .8em;
	}
}