@import url(http://fonts.googleapis.com/css?family=Raleway:400,300,800|Lora:400italic|Playfair+Display:700);
@font-face {
	font-weight: normal;
	font-style: normal;
}

*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.clearfix:before, .clearfix:after { display: table; content: ''; }
.clearfix:after { clear: both; }


body {
	background: #fff;
	color: #69606b;
	font-weight: 400;
	font-size: 1.15em;
	line-height: 1.5;
	font-family: 'Helvetica', Arial, sans-serif;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	overflow-x: hidden;
}

a {
	outline: none;
	color: #cf4a5c;
	text-decoration: none;
}

a:hover, a:focus {
	color: #69606b;
}